<app-header></app-header>

<br>
<br>
<br>
<br>



  <h1><b><i>Testimonios - Kmegavisión</i></b></h1>



  <div class="container-fluid cajota-video-container">
      <div class="col-md-10 offset-md-1">
          <h3 class="text-xs-center">Galería de vídeos</h3><br><br><br><br>


          <div class="row cajitas-row">
              <div class="col-md-6 sala-video">
                  <iframe class="kmegavision-video-frame" width="100%" height="230" src="" frameborder="0"  allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center"></label>
              </div>
              <div class="col-md-6 sala-video">
                  <iframe class="kmegavision-video-frame" width="100%" height="230" src="" frameborder="0"  allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center"></label>
              </div>       
          </div>

          <div class="row cajitas-row">
              <div class="col-md-6 sala-video">
                  <iframe class="kmegavision-video-frame" width="100%" height="230" src="" frameborder="0" allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center"></label>
              </div>
              <div class="col-md-6 sala-video">
                  <iframe class="kmegavision-video-frame" width="100%" height="230" src="" frameborder="0" allowfullscreen></iframe>
                  <label class="form-control label-warning text-xs-center"></label>
              </div>  
          </div>

          <div class="row cajitas-row">
            <div class="col-md-6 sala-video">
                   <iframe class="kamegavision-video-frame" width="100%" height="230" src="" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center"></label>
            </div>
            <div class="col-md-6 sala-video">
                 <iframe class="kmegavision-video-frame" width="100%" height="230" src="" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center"></label>
            </div>  
        </div>


        <div class="row cajitas-row">
            <div class="col-md-6 sala-video">
                <iframe class="kmegavision-video-frame" width="100%" height="230" src="" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center"></label>
            </div>
            <div class="col-md-6 sala-video">
                 <iframe class="kmegavision-video-frame" width="100%" height="230" src="" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center"></label>
            </div>  
        </div>



      </div>
  </div>

  <br><br><br>
  
 
  <footer>
    &copy;2019 Todos los derechos estan reservados por kmegavisión.
  <a
    target="_blank"
    href="https://www.facebook.com/CleiserBusinessGroupSAS/"
    ></a>

</footer>




